\:root
  /* Main palette */
  --color-primary-light:   hsl(224, 36%, 45%)
  --color-primary-lighter: hsl(224, 56%, 45%)
  --color-primary:         hsl(224, 56%, 39%)
  --color-primary-dark:    hsl(224, 46%, 28%)
  --color-primary-darkest: hsl(224, 46%, 21%)
  --color-primary-lighter-translucent: hsla(224, 56%, 45%, 0.5)

  --color-complementary-lightest: hsl(43, 33%, 86%)
  --color-complementary-lighter:  hsl(43, 33%, 64%)
  --color-complementary-light:    hsl(43, 71%, 36%)
  --color-complementary-dark:     hsl(43, 46%, 21%)

  --color-complementary-dark-translucent: hsla(43, 46%, 21%, 0.5)

  /* Button colors */
  --color-success-lighter: hsl(85, 65%, 38%)
  --color-success:         hsl(85, 65%, 30%)
  --color-success-lighter-translucent: hsla(85, 65%, 38%, 0.5)

  --color-warning-lighter: hsl(35, 75%, 53%)
  --color-warning:         hsl(35, 75%, 41%)
  --color-warning-lighter-translucent: hsla(35, 75%, 53%, 0.5)

  --color-danger-lighter:  hsl(11, 56%, 40%)
  --color-danger:          hsl(11, 56%, 34%)
  --color-danger-lighter-translucent: hsla(11, 56%, 40%, 0.5)

  /* Grey colors */
  --color-white:         hsl(210, 2%, 100%)
  --color-grey-lightest: hsl(210, 2%, 96%)
  --color-grey-lighter:  hsl(210, 2%, 91%)
  --color-grey:          hsl(210, 2%, 71%)
  --color-grey-dark:     hsl(210, 2%, 45%)
  --color-grey-darker:   hsl(210, 2%, 23%)
  --color-grey-darkest:  hsl(210, 2%, 15%)
  --color-black:         hsl(210, 2%, 10%)
  --color-grey-dark-translucent: hsla(210, 2%, 45%, 0.5)

html
  --color-mode: "light"
  --light: var(--color-grey-lightest)
  --dark: var(--color-grey-darkest)

  --haze: var(--color-grey-lighter)
  --bubble: var(--color-grey-darkest)
  --accent: var(--color-grey-lighter)
  --bg: var(--color-grey-lightest)
  --code-bg: var(--accent)
  --overlay: var(--color-grey-lightest)
  --text: var(--color-grey-darkest)
  --font: 'Metropolis', sans-serif
  --border-color: #eee
  --inline-color: var(--color-warning)
  --theme: var(--color-primary-dark)
  --ease: ease

  @mixin darkmode
    --color-mode: "dark"
    --theme: var(--color-primary)
    --bg: var(--color-grey-darkest)
    --code-bg: var(--color-grey-darker)
    --text: var(--color-grey-lighter)
    --accent: var(--bubble)
    --overlay: var(--bubble)
    --border-color: transparent
    *
      box-shadow: none !important

  &[data-mode="dark"]
    @include darkmode
    .color
      &_choice
        &::after
          background-image: url(../icons/moon.svg)

  &.dark:not([data-mode="light"])
    @media (prefers-color-scheme: dark)
      @include darkmode

%narrow
  max-width: 750px
  margin: 0 auto

blockquote
  + .highlight_wrap
    margin-top: 2.25rem

// Customized

.nav_brand img, .nav_repo img
  shape-rendering: geometricPrecision
  height: 2em

img, .search_field, .results, .highlight_wrap, .panel_box
    border-radius: .25em!important

code.noClass
  white-space: nowrap

.toc, aside ul
  padding: 0 .5rem!important

.pager
  display: none!important
